<nav class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-heading pure-menu-link"><a routerLink="" class="pure-menu-link">Home</a></li>
        <li class="pure-menu-item"><a routerLink="/medicos" class="pure-menu-link">Medico</a></li>
        <li class="pure-menu-item"><a routerLink="/pacientes" class="pure-menu-link">Paciente</a></li>
        <li class="pure-menu-item"><a routerLink="/medicamentos" class="pure-menu-link">Medicamento</a></li>
    </ul>
</nav>