<app-header></app-header>
<main>
    <form class="pure-form pure-form-aligned">
        <fieldset>
            <legend>Cadastro de Médicos</legend>
            <div class="pure-control-group">
                <label for="crm">CRM:</label>
                <input type="text" id="crm" placeholder="Digite um CRM" name="crm" [(ngModel)]="this.Medico.CRM">
            </div>
            <div class="pure-control-group">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" placeholder="Digite um Nome" name="nome" [(ngModel)]="this.Medico.Nome">
            </div>
            <div class="pure-controls">
                <button type="button" (click)="enviar()" class="pure-button pure-button-primary">Enviar</button>
                <button type="reset" class="pure-button">Limpar</button>
                <button type="button" routerLink="/medicos" class="pure-button">Voltar</button>
            </div>
        </fieldset>
    </form>
</main>
<app-footer></app-footer>