input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1{
    font-size: 40px;
    text-align: center;
}

table{
    margin-left: 10px;
}

#descricao{
    resize: none;
}